
<header id="header" class="header">
  <div class="header_wrap">

    <!-- ▼ ロゴ ▼ -->
    <div class="logo">
  
      <div class="nav">
        <label id="nav_button" class="nav_button" for="nav_input">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
  
      <a class="logo_link" href="#home"><h1 class="logo_text">YouSync</h1></a>

    </div>

    <!-- ▼ 検索 ▼ -->
    <div class="search">
      <form class="search_form" autocomplete="off" action="#" @submit="search">
        <input id="search_input" class="search_input" type="search" size="50" placeholder="URLを入力">
        <label class="search_label" for="search_toggle">
          <svg viewBox="0 0 24 24"><use xlink:href="/img/graphics.svg#search"></use></svg>
        </label>
      </form>
    </div>

    <!-- ▼ ユーザ ▼ -->
    <div class="user">
      <label class="user_label">
        <svg viewBox="0 0 24 24"><use xlink:href="/img/graphics.svg#user"></use></svg>
      </label>
    </div>

  </div>
</header>
