<div id="menu" class="menu">
  <div class="menu_wrap">
    <input id="nav_input" class="nav_input" type="checkbox">
    <label id="nav_blocker" class="nav_blocker" for="nav_input"></label>
    <div class="nav_content">
      <ul class="nav_list">
        <li class="nav_list_item"><a class="nav_list_item_link" href="#CONTENT">CONTENT</a></li>
        <li class="nav_list_item"><a class="nav_list_item_link" href="#CONTENT">CONTENT</a></li>
        <li class="nav_list_item"><a class="nav_list_item_link" href="#CONTENT">CONTENT</a></li>
        <li class="nav_list_item"><a class="nav_list_item_link" href="#CONTENT">CONTENT</a></li>
      </ul>
    </div>
  </div>
</div>
