<!DOCTYPE html>
<html lang="ja">

<head>
<% const meta = {
  title: `${ title } | YouSync`,
  fileName: 'event'
}; %>
<%- include('components/_head.ejs', { meta }) %>
</head>

<body>

  <div class="wrap">
    
    <!-- ▼ Contents ▼ -->
    <div class="contents">

      <!-- ▼ entry ▼ -->
      <div id="entry" class="entry">
        <div class="entry_inner">
          <div id="entry_enter" class="entry_select">
            <span class="entry_select_title">入室</span>
          </div>
          <div id="entry_management" class="entry_select">
            <span class="entry_select_title">管理</span>
          </div>
        </div>
      </div>

      <!-- ▼ Information ▼ -->
      <div id="information" class="information">
        <div class="information_inner">
          <h3 class="information_title"><%= title %></h3>
          <div class="information_contents">
            <p id="information_message"></p>
          </div>
        </div>
      </div>

      <!-- ▼ Management system ▼ -->
      <div id="ms" class="ms">
        <div class="ms_inner">
          <h3 class="ms_title">管理システム</h3>
          <div class="ms_contents">
            <ul id="unit_list" class="ms_unit_list"></ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- ▼ Source ▼ -->
  <div class="source">
    <video id="video" loop crossOrigin="anonymous" playsinline style="display:none">
      <source src="/video/bbb.mp4" type='video/mp4'>
    </video>
  </div>

  <!-- ▼ JavaScript ▼ -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/three@0.131.3/build/three.min.js"></script>
  <script src="https://unpkg.com/three@0.131.3/examples/js/controls/OrbitControls.js"></script>
  <script>const getData = '<%- event %>'; const eventData = getData ? JSON.parse(getData) : null;</script>
  <script type="text/javascript" src="/js/event.js"></script>

</body>
</html>
