<!DOCTYPE html>
<html lang="ja">

<head>
<% const meta = {
  title: 'YouSync',
  fileName: 'index'
}; %>
<%- include('components/_head.ejs', { meta }) %>
</head>

<body>

  <div class="wrap">

    <!-- ▼ Header ▼ -->
    <%- include('components/_header.ejs') %>
    
    <!-- ▼ Contents ▼ -->
    <div class="contents">

      <!-- ▼ Menu ▼ -->
      <%- include('components/_menu.ejs') %>

      <!-- ▼ Main ▼ -->
      <main class="main">
      <div class="main_wrap">

        <!-- ▼ バナー ▼ -->
        <div class="banner_content">
          <a class="banner_link" href="#banner_link">
            <img class="banner_image" src="/img/thumbnail.jpg">
          </a>
        </div>

        <!-- ▼ ジャンル ▼ -->
        <div class="genre_content">
          <div class="genre_content_inner">
            <h2 class="content_title">ジャンル</h2>
            <div class="genre_list_content">
              <div class="genre_list_content_inner">
                <ul class="genre_list">
                  <% for (let i = 0; i < 5; i++) { %>
                    <li class="genre_list_item">
                      <a class="genre_link" href="#genre_link">
                        <h3 class="genre_title">ジャンル</h3>
                      </a>           
                    </li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- ▼ メインコンテンツ ▼ -->
        <div class="main_content">
          <div class="main_content_inner">

            <!-- ▼ おすすめ ▼ -->
            <div class="main_content_section">
              <div class="main_content_section_inner">
                <div class="main_content_section_title">
                  <h2 class="section_title">おすすめ</h2>
                </div>
                <div class="main_content_section_content">
                  <% for (let i = 0; i < 10; i++) { %>
                    <div class="roomCard">
                      <div class="roomCard_inner">
                        <div class="roomCard_thumbnail">
                          <a class="roomCard_thumbnail_link" href="#roomCard_thumbnail_link">
                            <img class="roomCard_thumbnail_image" src="/img/thumbnail.jpg">
                          </a>
                        </div>
                        <div class="roomCard_detail">
                          <a class="roomCard_detail_link" href="#roomCard_detail">
                            <h3 class="roomCard_title">動画タイトル</h3>
                          </a>
                        </div>
                      </div>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>

            <!-- ▼ その他 ▼ -->
            <div class="main_content_section">
              <div class="main_content_section_inner">
                <div class="main_content_section_title">
                  <h2 class="section_title">その他</h2>
                </div>
                <div class="main_content_section_content">
                  <% for (let i = 0; i < 5; i++) { %>
                    <div class="roomCard">
                      <div class="roomCard_inner">
                        <div class="roomCard_thumbnail">
                          <a class="roomCard_thumbnail_link" href="#roomCard_thumbnail_link">
                            <img class="roomCard_thumbnail_image" src="/img/thumbnail.jpg">
                          </a>
                        </div>
                        <div class="roomCard_detail">
                          <a class="roomCard_detail_link" href="#roomCard_detail">
                            <h3 class="roomCard_title">動画タイトル</h3>
                          </a>
                        </div>
                      </div>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      </main>

    </div>

  </div>
  
  <!-- ▼ JavaScript ▼ -->
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/js/index.js"></script>

</body>
</html>
