<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YouSync</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="wrap">

        <!-- ▼ Header ▼ -->
        <header>
            <div class="header_container">
                <div class="logo">
                    <h1 class="title">YouSync</h1>
                </div>
            </div>
        </header>

        <!-- ▼ メイン ▼ -->
        <main>
            <h1>現在、このページは作成中です</h1>
        </main>

        <!-- ▼ Footer ▼ -->
        <footer><div id="log"></div></footer>

    </div>

    <!-- ▼ js ▼ -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/index.js"></script>

</body>
</html>