<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %> | YouSync</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&family=Kanit:wght@300&family=Noto+Sans+JP&family=Russo+One&display=swap">
  <link rel="stylesheet" href="/css/room_m.css">
</head>

<body>

  <div id="content" class="wrap">

    <!-- Bar -->
    <input id="bar_toggle" class="bar_toggle" type="checkbox">
    <label id="bar" class="bar" for="bar_toggle">
      <div class="bar_content"></div>
    </label>

    <!-- ▼ Main ▼ -->
    <main class="main">
      <div class="main_wrap">

        <!-- ▼ Player ▼ -->
        <div class="player">
          <div class="player_inner">
            <div id="player"><img class="yt_player" src="/img/thumbnail.jpg"></div>
          </div>
        </div>

        <!-- ▼ Detail ▼ -->
        <div id="video_detail" class="video_detail">
          <div class="video_detail_inner">
            <div class="video_text">
              <div class="video_title">
                <div class="video_title_border"></div>
                <span class="video_title_text"></span>
                <span class="video_title_text"></span>
              </div>
              <h2 id="video_channel" class="video_channel_text"></h2>
            </div>
            <div class="video_time">
              <div class="video_time_seekbar">
                <input id="seekbar" class="video_time_seekbar_input" type="range" value="0" min="0" max="100">
              </div>
              <div class="video_time_display">
                <span id="video_time_current" class="video_time_current">0:00</span>
                <span id="video_time_duration" class="video_time_duration">0:00</span>
              </div>
            </div>
          </div>
        </div>

        <!-- ▼ Controller ▼ -->
        <div class="controller">
          <div class="controller_inner">
            <button class="controller_button">
              <svg id="previous" class="play_pause_svg1" viewBox="0 0 448 512">
                  <use xlink:href="/img/graphics.svg#previous"></use>
              </svg>
            </button>
            <button class="controller_button">
              <svg id="play_pause" class="play_pause_svg2" viewBox="0 0 448 512">
                  <use xlink:href="/img/graphics.svg#pause"></use>
              </svg>
            </button>
            <button id="next" class="controller_button">
              <svg class="play_pause_svg3" viewBox="0 0 448 512">
                  <use xlink:href="/img/graphics.svg#next"></use>
              </svg>
            </button>
            <div id="volume"></div><div id="video_time_display"></div>
          </div>
        </div>

        <!-- ▼ Playlist ▼ -->
        <input id="playlist_toggle" class="playlist_toggle" type="checkbox">
        <div id="playlist" class="playlist">
          <div class="playlist_inner">

            <div class="playlist_header">
              <label class="playlist_label" for="playlist_toggle">
                <div class="playlist_icon">
                  <svg viewBox="0 0 320 320"><use xlink:href="/img/graphics.svg#tab_playlist"></use></svg>
                </div>
                <div class="playlist_title">
                  <div class="playlist_title_category">
                    <span class="playlist_title_playlist">プレイリスト</span>
                  </div>
                  <div class="playlist_title_video">
                    <span class="playlist_title_next">次の動画:</span>
                    <span class="playlist_title_text">動画タイトル</span>
                  </div>
                </div>
                <div class="playlist_icon">
                  <svg viewBox="0 0 512 512"><use xlink:href="/img/graphics.svg#up"></use></svg>
                </div>
              </label>
            </div>

            <div id="playlist_content" class="playlist_content">
              <ul class="playlist_list">

                <li class="playlist_item">
                  <a class="playlist_video_link" href="#playlist_video_link">
                    <div class="playlist_video_thumbnail">
                      <img class="playlist_video_thumbnail_img" src="/img/thumbnail.jpg">
                    </div>
                    <div class="playlist_video_title">
                      <span class="playlist_video_title_text">動画タイトル</span>
                      <span class="playlist_video_title_channel">動画チャンネル</span>
                    </div>
                    <div class="playlist_video_duration">
                      <span class="playlist_video_duration_text">0:00</span>
                    </div>
                  </a>
                </li>

                <li class="playlist_item">
                  <a class="playlist_video_link" href="#playlist_video_link">
                    <div class="playlist_video_thumbnail">
                      <img class="playlist_video_thumbnail_img" src="/img/thumbnail.jpg">
                    </div>
                    <div class="playlist_video_title">
                      <span class="playlist_video_title_text">動画タイトル</span>
                      <span class="playlist_video_title_channel">動画チャンネル</span>
                    </div>
                    <div class="playlist_video_duration">
                      <span class="playlist_video_duration_text">0:00</span>
                    </div>
                  </a>
                </li>

                <li class="playlist_item">
                  <a class="playlist_video_link" href="#playlist_video_link">
                    <div class="playlist_video_thumbnail">
                      <img class="playlist_video_thumbnail_img" src="/img/thumbnail.jpg">
                    </div>
                    <div class="playlist_video_title">
                      <span class="playlist_video_title_text">動画タイトル</span>
                      <span class="playlist_video_title_channel">動画チャンネル</span>
                    </div>
                    <div class="playlist_video_duration">
                      <span class="playlist_video_duration_text">0:00</span>
                    </div>
                  </a>
                </li>

                <li class="playlist_item">
                  <a class="playlist_video_link" href="#playlist_video_link">
                    <div class="playlist_video_thumbnail">
                      <img class="playlist_video_thumbnail_img" src="/img/thumbnail.jpg">
                    </div>
                    <div class="playlist_video_title">
                      <span class="playlist_video_title_text">動画タイトル</span>
                      <span class="playlist_video_title_channel">動画チャンネル</span>
                    </div>
                    <div class="playlist_video_duration">
                      <span class="playlist_video_duration_text">0:00</span>
                    </div>
                  </a>
                </li>

                <li class="playlist_item">
                  <a class="playlist_video_link" href="#playlist_video_link">
                    <div class="playlist_video_thumbnail">
                      <img class="playlist_video_thumbnail_img" src="/img/thumbnail.jpg">
                    </div>
                    <div class="playlist_video_title">
                      <span class="playlist_video_title_text">動画タイトル</span>
                      <span class="playlist_video_title_channel">動画チャンネル</span>
                    </div>
                    <div class="playlist_video_duration">
                      <span class="playlist_video_duration_text">0:00</span>
                    </div>
                  </a>
                </li>

                <li class="playlist_item">
                  <a class="playlist_video_link" href="#playlist_video_link">
                    <div class="playlist_video_thumbnail">
                      <img class="playlist_video_thumbnail_img" src="/img/thumbnail.jpg">
                    </div>
                    <div class="playlist_video_title">
                      <span class="playlist_video_title_text">動画タイトル</span>
                      <span class="playlist_video_title_channel">動画チャンネル</span>
                    </div>
                    <div class="playlist_video_duration">
                      <span class="playlist_video_duration_text">0:00</span>
                    </div>
                  </a>
                </li>

                <li class="playlist_item">
                  <a class="playlist_video_link" href="#playlist_video_link">
                    <div class="playlist_video_thumbnail">
                      <img class="playlist_video_thumbnail_img" src="/img/thumbnail.jpg">
                    </div>
                    <div class="playlist_video_title">
                      <span class="playlist_video_title_text">動画タイトル</span>
                      <span class="playlist_video_title_channel">動画チャンネル</span>
                    </div>
                    <div class="playlist_video_duration">
                      <span class="playlist_video_duration_text">0:00</span>
                    </div>
                  </a>
                </li>

                <li class="playlist_item">
                  <a class="playlist_video_link" href="#playlist_video_link">
                    <div class="playlist_video_thumbnail">
                      <img class="playlist_video_thumbnail_img" src="/img/thumbnail.jpg">
                    </div>
                    <div class="playlist_video_title">
                      <span class="playlist_video_title_text">動画タイトル</span>
                      <span class="playlist_video_title_channel">動画チャンネル</span>
                    </div>
                    <div class="playlist_video_duration">
                      <span class="playlist_video_duration_text">0:00</span>
                    </div>
                  </a>
                </li>

                <li class="playlist_item">
                  <a class="playlist_video_link" href="#playlist_video_link">
                    <div class="playlist_video_thumbnail">
                      <img class="playlist_video_thumbnail_img" src="/img/thumbnail.jpg">
                    </div>
                    <div class="playlist_video_title">
                      <span class="playlist_video_title_text">動画タイトル</span>
                      <span class="playlist_video_title_channel">動画チャンネル</span>
                    </div>
                    <div class="playlist_video_duration">
                      <span class="playlist_video_duration_text">0:00</span>
                    </div>
                  </a>
                </li>

                <li class="playlist_item">
                  <a class="playlist_video_link" href="#playlist_video_link">
                    <div class="playlist_video_thumbnail">
                      <img class="playlist_video_thumbnail_img" src="/img/thumbnail.jpg">
                    </div>
                    <div class="playlist_video_title">
                      <span class="playlist_video_title_text">動画タイトル</span>
                      <span class="playlist_video_title_channel">動画チャンネル</span>
                    </div>
                    <div class="playlist_video_duration">
                      <span class="playlist_video_duration_text">0:00</span>
                    </div>
                  </a>
                </li>

              </ul>
            </div>

          </div>
        </div>

      </div>
    </main>

  </div>

  <!-- ▼ JavaScript ▼ -->
  <script src="/socket.io/socket.io.js"></script>
  <script>const getData = '<%- room %>'; const room = getData ? JSON.parse(getData) : null;</script>
  <script type="text/javascript" src="/js/room_m.js"></script>
    
</body>
</html>
