<!DOCTYPE html>
<html lang="ja">

<head>
<% const meta = {
  title: `${ title } | YouSync`,
  fileName: 'room'
}; %>
<%- include('components/_head.ejs', { meta }) %>
</head>

<body>

  <div class="wrap">

    <!-- ▼ Header ▼ -->
    <%- include('components/_header.ejs') %>
    
    <!-- ▼ Contents ▼ -->
    <div class="contents">

      <!-- ▼ Menu ▼ -->
      <%- include('components/_menu.ejs') %>

      <!-- ▼ Main ▼ -->
      <main class="main">
        <div class="main_wrap">

          <!-- ▼ Primary content ▼ -->
          <div class="primary_content">
            <div class="primary_content_inner">

              <!-- ▼ Player ▼ -->
              <div class="player">
                <div class="player_inner">
                  <div id="player" class="yt_player"></div>
                </div>
              </div>

              <!-- ▼ Detail ▼ -->
              <div id="video_detail" class="video_detail">
                <div class="video_detail_inner">
                  <div class="video_text">
                    <h1 id="video_title" class="video_title_text"></h1>
                    <h2 id="video_channel" class="video_channel_text"></h2>
                  </div>
                </div>
              </div>

              <!-- ▼ Controller ▼ -->
              <div class="controller">
                <div class="controller_inner">
                  <div class="video_time_seekbar">
                    <input id="seekbar" class="video_time_seekbar_input" type="range" value="0" min="0" max="1000">
                  </div>
                  <button id="previous" class="controller_button">
                    <svg viewBox="0 0 448 512">
                        <use xlink:href="/img/graphics.svg#previous"></use>
                    </svg>
                  </button>
                  <button id="play_pause" class="controller_button">
                    <svg viewBox="0 0 448 512">
                        <use xlink:href="/img/graphics.svg#pause"></use>
                    </svg>
                  </button>
                  <button id="next" class="controller_button">
                    <svg viewBox="0 0 448 512">
                        <use xlink:href="/img/graphics.svg#next"></use>
                    </svg>
                  </button>
                  <button id="mute" class="controller_button">
                    <svg viewBox="0 0 576 512">
                        <use xlink:href="/img/graphics.svg#volume_up"></use>
                    </svg>
                  </button>
                  <input id="volume" class="controller_volume" type="range" value="0" step="5">
                  <div id="video_time_display" class="video_time_display">
                    <span id="video_time_current" class="video_time_current">0:00</span>
                    <span class>/</span>
                    <span id="video_time_duration" class="video_time_duration">0:00</span>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <!-- ▼ Secondary content ▼ -->
          <div class="secondary_content">
            <div class="secondary_content_inner">

              <!-- ▼ Playlist ▼ -->
              <div id="playlist" class="playlist">
                <div class="playlist_inner">
      
                  <div class="playlist_header">
                    <div class="playlist_label" for="playlist_toggle">
                      <div class="playlist_icon">
                        <svg viewBox="0 0 320 320"><use xlink:href="/img/graphics.svg#tab_playlist"></use></svg>
                      </div>
                      <div class="playlist_title">
                        <span class="playlist_title_playlist">プレイリスト</span>
                      </div>
                    </div>
                  </div>
      
                  <div id="playlist_content" class="playlist_content">
                    <ul class="playlist_list"></ul>
                  </div>
      
                </div>
              </div>

            </div>
          </div>

        </div>
      </main>

    </div>

    <!-- ▼ Statistics ▼ -->
    <div id="statistics" class="statistics">
      <div class="statistics_inner">
        <h3 class="statistics_title">統計情報</h3>
        <div class="statistics_contents">
          <p>補正時刻: <span id="statistics_correction_time"></span></p>
          <p>現在時刻: <span id="statistics_current_time"></span></p>
          <p>遅延時間: <span id="statistics_delay_time"></span></p>
          <p>往復時間: <span id="statistics_roundtrip_time"></span></p>
        </div>
      </div>
    </div>

  </div>

  <!-- ▼ JavaScript ▼ -->
  <script src="/socket.io/socket.io.js"></script>
  <script>const getData = '<%- room %>'; const room = getData ? JSON.parse(getData) : null;</script>
  <script type="module" src="/js/room.js"></script>

</body>
</html>
