/*------------------------------------
  Default Style
------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Kanit:wght@300&family=Noto+Sans+JP&display=swap');

* { margin: 0; padding: 0; }
html {
    font-size: 62.5%;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    animation: fadeIn 2s ease 0s 1 normal;
}
body {
    font-size: 1.6em;
    overflow: hidden;
    overflow-y: scroll;
    user-select: none;
}
a {
    color: black;
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition-property: all;
    transition: .5s linear;
}
ul {
    list-style: none;
}
svg {
    vertical-align: middle;
}
input, button {
    border: none;
    background: #fff;
    outline: 0;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* スクロールバー */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(129, 129, 129, 0.5);
    border-radius: 10px;
}

/* アニメーション */
.sizuku {
    animation: sizuku .3s linear 0s;
    background: #6EB2E0;
    border-radius: 50%;
    border: 4px solid #6EB2E0;
    position: absolute;
    z-index: 1000;
}

@keyframes sizuku {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
        transform: translate(-50px, -50px);
    }
}

/*------------------------------------
  Pop
------------------------------------*/
#pop {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to right, #f3a268, #e64291);
    z-index: 100;
    display: none;
}
#pop form {
	top: 50%;
    left: 50%;
    width: 364px;
    position: absolute;
	transform: translate(-50%, -50%);
}
#pop_input {
    width: 300px;
    height: 36px;
    padding: 3px 10px;
    font-size: 1.6rem;
    border: solid gray 1px;
    border-right: none;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
}
#pop_input:focus {
    border: solid #006eff 1px;
}
#pop_button {
    width: 64px;
    height: 36px;
    padding: 3px;
    font-size: 1.6rem;
    float: right;
    border: solid gray 1px;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    #pop form {
        width: 80vw;
    }
    #pop_input {
        width: calc(100% - 64px);
    }
}

/*------------------------------------
  Header
------------------------------------*/
header {
    top: 0;
    width: 100%;
    height: 56px;
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(to right, #ff6a00, #ee0979);
    position: fixed;
    z-index: 99;
}
.header_container {
    height: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    position: relative;
}

/* logo */
.logo {
    left: 0;
    width: 100px;
    height: 36px;
    margin: 10px;
    position: absolute;
    z-index: 98;
}
.title {
    font-size: 2.4rem;
}

/* form */
.header_container form {
    width: 664px;
    margin: 10px 0;
    text-align: center;
    position: absolute;
}
#search_input {
    width: 600px;
    height: 36px;
    padding: 3px 10px;
    font-size: 1.6rem;
    border: solid gray 1px;
    border-right: none;
    border-radius: 3px 0 0 3px;
    box-sizing: border-box;
    -webkit-appearance: none;
}
#search_input:focus {
    border: solid #006eff 1px;
}
#search_button {
    width: 64px;
    height: 36px;
    padding: 3px;
    font-size: 1.6rem;
    float: right;
    background: #fff;
    border: solid gray 1px;
    border-radius: 0 3px 3px 0;
    box-sizing: border-box;
}
#search_check {
    display: none;
}
#search_blocker {
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100% - 56px);
    position: fixed;
    background: black;
    opacity: 0.5;
    display: none;
    z-index: 98;
}

@media screen and (max-width: 1024px) {
    .header_container form {
        width: 100%;
        right: 0;
    }
    #search_input {
        width: calc(100% - 64px);
        display: none;
    }
    #search_check:checked ~ form #search_input,
    #search_check:checked ~ form #search_blocker {
        display: block;
    }
    #search_check:checked + .logo {
        display: none;
    }
}

/*------------------------------------
  main, side
------------------------------------*/
main {
    margin-top: 56px;
    display: flex;
}
#side {
    width: 400px;
    margin: 30px auto 30px 15px;
}

@media screen and (max-width: 1280px) {
    #side {
        width: 360px;
        margin-left: 5px;
    }
}
@media screen and (max-width: 1024px) {
    #side {
        width: 100%;
        margin: 0;
    }
}

/*------------------------------------
  YTPlayer
------------------------------------*/
#yt_player {
    width: calc(100vw / 1.6);
    margin: 30px 15px 30px auto;
}
#video_title {
    padding: 5px 0;
    font-size: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* プレイヤーバー */
.YT_button_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.YT_button_list button {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    box-sizing: content-box;
}
.YT_button_list button svg {
    width: 25px;
    height: 25px;
}
.YT_button_list .mute {
    position: relative;
}
.YT_button_list .mute svg {
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
	transform: translate(-50%, -50%);
}
.seekbar {
    height: 8px;
    width: 100%;
    margin: auto;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    background: #585858;
    border-radius: 3px;
}
.seekbar:hover {
    padding: 1px;
}
.seekbar::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    background: Red;
    box-shadow: -100vw 0 0 100vw Red;
}
.video_time {
    padding: 0 20px;
}

/* コメント */
#comment {
    position: absolute;
    color: #fff;
    overflow: hidden;
    font-size: 3.6rem;
    display: none;
}
.comment_item {
    right: 0;
    position: absolute;
    white-space: nowrap;
    text-shadow : 
         2px  2px 0px #555555,
        -2px  2px 0px #555555,
         2px -2px 0px #555555,
        -2px -2px 0px #555555,
         2px  0px 0px #555555,
         0px  2px 0px #555555,
        -2px  0px 0px #555555,
         0px -2px 0px #555555;
}

@media screen and (max-width: 1280px) {
    #yt_player {
        margin-right: 5px;
    }
}
@media screen and (max-width: 1024px) {
    #yt_player {
        width: 100%;
    }
    #video_title {
        padding: 5px;
    }
}

/*------------------------------------
  Chat
------------------------------------*/
#chat {
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
    position: relative;
    background: #fff;
    border: solid #bbbbbb 1px;
    box-sizing: border-box;
}
.chat_header {
    height: 30px;
    padding: 10px 20px;
}
.chat_main {
    height: 480px;
    padding: 0 20px;
    overflow-y: scroll;
}
.chat_logs {
    width: 100%;
}
.user_msg {
    padding: 3px;
    display: table;
    word-break : break-all;
}
.msg_name {
    padding-right: 10px;
    font-size: 1.4rem;
    color: gray;
    display: table-cell;
    vertical-align: middle;
}
.msg_msg {
    font-size: 1.6rem;
    display: table-cell;
    vertical-align: middle;
}
.chat_input {
    bottom: 0;
    width: calc(100% - 40px); /* all - padding */
    height: 30px;
    padding: 20px;
    position: absolute;
}
#chat_msg {
    width: calc(100% - 36px); /* all - padding */
    height: 23px;
    padding: 3px;
    border-bottom: solid gray 1px;
    border-radius: 0;
}
#chat_msg:focus {
    border-bottom: solid rgb(0, 110, 255) 2px;
}
#chat_send_button {
    width: 30px;
    height: 30px;
    float: right;
}
.svg_send {
    width: 25px;
    height: 25px;
    fill: gray;
}

@media screen and (max-width: 1024px) {
    #chat {
        height: calc(100vh - 106px); /* All - (Header + Tab)  */
        margin: 0;
        border: none;
    }
    .chat_main {
        height: calc(100% - 120px); /* Chat - (Chat_Header + Chat_input) */
    }
    #chat_msg {
        font-size: 1.6rem;
    }
    .svg_send {
        width: 30px;
        height: 30px;
    }
}

/*------------------------------------
  playlist
------------------------------------*/
#playlist {
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
    background: #fff;
    border: solid #bbbbbb 1px;
    box-sizing: border-box;
    overflow: hidden;
}
.playlist_header {
    height: 30px;
    padding: 10px 20px;
}
.playlist_main {
    height: 550px;
    overflow-y: scroll;
}
.playlist_list {
    width: 100%;
}
.playlist_item {
    width: 100%;
    height: 66px;
    display: flex;
}
.playlist_item:hover {
    background: #d8d8d8;
}
.playlist_item_number  {
    min-width: 20px;
    line-height: 66px;
    padding-left: 5px;
    text-align: center;
}
.playlist_item_thumbnail img {
    width: 100px;
    height: 56px;
    margin: 5px;
    object-fit: cover;
}
.playlist_item_caption {
    padding: 5px;
    overflow: hidden;
}
.playlist_item_title {
    max-height: 40px;
    line-height: 20px;
    font-size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.playlist_item_channel {
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: gray;
}
.buttons {
    display: none;
}

@media screen and (max-width: 1024px) {
    #playlist {
        height: calc(100vh - 106px); /* All - (Header + Tab)  */
        margin: 0;
        border: none;
    }
    .playlist_main {
        height: calc(100% - 50px); /* Playlist - Playlist_Header  */
    }
    .playlist_item {
        height: 100px;
    }
    .playlist_item_number {
        line-height: 100px;
    }
    .playlist_item_thumbnail img {
        width: 160px;
        height: 90px;
    }
}

/*------------------------------------
  Tab
------------------------------------*/
#tab {
    bottom: 0;
    width: 100%;
    height: 50px;
    position: fixed;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: none;
}
#tab label {
    width: calc(100% / 4); /* タブ数 */
    height: 100%;
    font-size: 1.1rem;
    text-align: center;
}
#tab label svg {
    padding: 4px 0;
    fill: gray;
}
#tab input:checked + label {
    color: red;
}
#tab input:checked + label svg {
    fill: red;
}

@media screen and (max-width: 1024px) {
    #tab {
        display: flex;
    }
    #tab input, .tab_content {
        display: none;
    }
    #yt_player {
        display: block;
    }
}
