@use "sass:math";
@import "common.scss";

/*------------------------------------
  Contents
------------------------------------*/
.contents {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.entry,
.information {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  display: none;
}

/* information */
.information {

  .information_inner {
    font-size: 2em;
    text-align: center;

    // .information_title {

    // }
    // .information_contents {

    // }
  }
}

/* entry */
.entry {
  width: 1000px;
  margin: 0 auto;

  @include bk(1000px) {
    width: 100%;
  };

  .entry_inner {
    display: flex;

    @include bk(1000px) {
      flex-flow: column;
    };

    .entry_select {
      width: calc(100% - (#{$margin-side} * 2));
      height: 600px;
      margin: $margin-side;
      text-align: center;
      position:relative;
      border-radius: $normal-border-radius;
      box-shadow: 0 2px 4px $box-shadow-color;
      background: $section-color;
      transition: .3s;

      &:hover {
        background: #272727;
      }

      @include bk(1000px) {
        height: 200px;
      };

      .entry_select_title {
        top: 50%;
        left: 50%;
        font-size: 3em;
        position: absolute;
        user-select: none;
        transform: translateY(-50%) translateX(-50%);
      }
    }
  }
}

/* management system */
.ms {
  display: none;

  .ms_inner {
    text-align: center;
    
    .ms_title {
      font-size: 2em;
      margin: 20px 0 0 0;
    }
    .ms_contents {

      .ms_unit_list {
        display: flex;
        flex-wrap: wrap;

        .ms_unit {
          width: calc(100% / 7);

          @include pc {
            width: calc(100% / 5);
          };
          @include tablet {
            width: calc(100% / 2);
          };
          @include mobile {
            width: 100%;
          };

          .ms_unit_inner {
            height: 110px;
            line-height: 110px;
            margin: 20px;
            font-size: 1.2em;
            border-radius: $item-border-radius;
            user-select: none;
            box-shadow: 0 2px 4px $box-shadow-color;
            background: $item-color;

            .ms_unit_settings {
              width: 100%;
              display: none;

              .ms_unit_number_input,
              .ms_unit_deley_input {
                width: 80%;
                padding: .3em;
                margin: .5em auto;
                border-radius: $item-border-radius;
              }
            }
            .ms_unit_settings.is-show {
              display: flex;
              flex-flow: column;
              justify-content: space-around;
            }
          }
        }
      }
    }
  }
}