@use "sass:math";
@import "common.scss";

/* グローバル変数 */
$menu-width: 240px;
$playlist-width: 480px;
$nav-transition-duration: .3s;

/*------------------------------------
  Contents
------------------------------------*/
.contents {
  padding: $header-height 0;
  display: flex;
}

/*------------------------------------
  Menu
------------------------------------*/

/* header */
.logo {
  display: flex;

  .nav {
    $nav-height: 20px;
    $nav-width: 25px;
    $nav-weight: 2px;

    padding: calc((#{$header-height} - #{$nav-height}) / 2) 0.5em;

    /* ハンバーガーメニュー */
    .nav_button {
      width: $nav-width;
      height: $nav-height;
      position: relative;
      cursor: pointer;
      z-index: 1002;

      span {
        left: 0;
        width: 100%;
        height: $nav-weight;
        position: absolute;
        border-radius: 4px;
        background-color: $text-primary-color;
      
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: calc((#{$nav-height} - #{$nav-weight}) / 2);
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }
    }
    .nav_button, .nav_button span {
      display: inline-block;
      transition: all $nav-transition-duration;
      box-sizing: border-box;
    }
  }
}

/* menu */
.menu {
  width: 0;
  flex-shrink: 0;
  transition: $nav-transition-duration;

  &.hidden {
    width: 0;
  }
  .menu_wrap {
    width: 100%;
    height: 100%;
  
    .nav_input {
      display: none;
    
      &:checked ~ .nav_content {
        transform: translateX(0);
      }
      &:checked ~ .nav_blocker {
        display: block;
      }
    }

    /* ブロッカー */
    .nav_blocker {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      position: fixed;
      background: black;
      opacity: 0.8;
      display: none;
      z-index: 99;
    }

    /* ナビコンテンツ */
    .nav_content {
      top: $header-height;
      left: 0;
      width: $menu-width;
      height: 100%;
      position: fixed;
      background: $background-color;
      border-top: solid 1px $border-color;
      border-right: solid 5px $border-color;
      transition: all $nav-transition-duration;
      transform: translateX(-$menu-width);
      box-sizing: border-box;
      z-index: 1001;

      .nav_list {
        padding: 0;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
      
        .nav_list_item {
          .nav_list_item_link {
            width: calc(100% - 10px * 2);
            padding: 15px 10px;
          }
        }
      }
    }
  }
}

/*------------------------------------
  Main
------------------------------------*/
.main {
  width: 100%;
}
.main_wrap {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;

  @include bk(1000px) {
    flex-flow: column;
  };

  .primary_content {
    width: 100%;

    .primary_content_inner {
      margin: 0 $margin-side;

      @include tablet {
        margin: 0 5px;
      };
    }
  }
  .secondary_content {
    width: $playlist-width;
    flex-shrink: 0;

    @include bk(1000px) {
      width: 100%;
    };

    .secondary_content_inner {
      height: 100%;
      margin: 0 $margin-side;

      @include tablet {
        margin: 0 5px;
      };
    }
  }
}

/*------------------------------------
  Player
------------------------------------*/

/* Player */
.player {

  .player_inner {
    position: relative;

    .yt_player {
      width: 100%;
    }
  }
}

/* Detail */
.video_detail {
  $text-height: 32px;

  .video_detail_inner {
    padding: 10px 5px;

    .video_text {

      .video_title_text {
        font-size: 1.2em;
      }
      .video_channel_text {
        font-size: 1em;
        font-weight: normal;
        color: $text-secondary-color;
      }
      .video_title_text,
      .video_channel_text {
        line-height: $text-height;
        margin: 0;
      }
    }
  }
}

/* Controller */
.controller {
  $controller-height: 50px;
  $controller-button-size: 24px;
  $controller-transition-duration: 0.1s;

  width: 100%;
  transition: $controller-transition-duration;

  .controller_inner {
    margin-bottom: $margin-side;
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid $border-color $border-bottom-weight;

    .video_time_seekbar {
      $seekbar-height: 3px;
      $seekbar-hover-height: 5px;
      $seekbar-border-radius: 5px;
      $seekbar-true-color: #f00;
      $seekbar-false-color: #444;

      width: 100%;
      padding-bottom: 5px;
    
      &:hover .video_time_seekbar_input,
      &.hover .video_time_seekbar_input {
        height: $seekbar-hover-height;
      }
      &:hover .video_time_seekbar_input::-webkit-slider-thumb,
      &.hover .video_time_seekbar_input::-webkit-slider-thumb {
        width: $seekbar-hover-height * 2;
        height: $seekbar-hover-height * 2;
      }
      
      .video_time_seekbar_input {
        width: 100%;
        height: $seekbar-height;
        margin: 0;
        -webkit-appearance: none;
        cursor: pointer;
        vertical-align: bottom;
        border-radius: $seekbar-border-radius;
        background: linear-gradient(to right, $seekbar-true-color 0%, $seekbar-true-color 0%, $seekbar-false-color 0%, $seekbar-false-color 100%);
      
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          border: none;
          border-radius: $seekbar-border-radius;
          background: $seekbar-true-color;
        }
      }
    }
    .controller_button {
      margin: 0;
      padding: calc((#{$controller-height} - #{$controller-button-size}) / 2);
      background: transparent;

      svg {
        width: $controller-button-size;
        height: $controller-button-size;
      }
    }
    .video_time_display {
      height: $controller-height;

      padding: 0 10px;

      .video_time_current,
      .video_time_duration {
        font-size: .9em;
        line-height: $controller-height;
      }
    }
  }
}

/*------------------------------------
  Playlist
------------------------------------*/
.playlist {
  $playlist-header-height: 50px;
  $playlist-item-height: 80px;
  $playlist-margin-side: 5px;
  $playlist-thumbnail-scale: 0.9;
  
  width: 100%;
  height: 100%;

  .playlist_inner {
    // background: $section-color;

    .playlist_header {
      padding: 0 $playlist-margin-side;

      .playlist_label {
        display: flex;
        justify-content: space-between;

        .playlist_icon {
          padding: math.div($playlist-header-height - $svg-size, 2);
        }
        .playlist_title {
          width: 100%;

          .playlist_title_playlist {
            font-weight: bold;
            line-height: $playlist-header-height;
          }
        }
      }
    }
    .playlist_content {
      overflow-y: scroll;
      height: auto;

      .playlist_list {

        .playlist_item {
          border-top: solid 1px $border-color;

          .playlist_video_link {
            padding: .5em;
            display: flex;

            .playlist_video_thumbnail {
              
              .playlist_video_thumbnail_img {
                width: $playlist-item-height * math.div(16, 9);
                height: $playlist-item-height;
                object-fit: cover;
                transform: scale($playlist-thumbnail-scale, $playlist-thumbnail-scale);
              }
            }
            .playlist_video_title {
              width: 100%;
              margin: 0 $playlist-margin-side;

              display: flex;
              flex-direction: column;
              justify-content: space-around;

              .playlist_video_title_channel {
                font-size: .8em;
                color: $text-secondary-color;
              }
            }
            .playlist_video_duration {
              margin: 0 $playlist-margin-side;

              .playlist_video_duration_text {
                line-height: $playlist-item-height;
                font-size: .8em;
                color: $text-secondary-color;
              }
            }
          }
        }
      }
    }
  }
}

/*------------------------------------
  Statistics
------------------------------------*/
.statistics {
  top: $header-height;
  right: $margin-side;
  width: 420px;
  position: absolute;
  border-radius: $item-border-radius;
  opacity: .97;
  background: $item-color;
  border: solid 1px $border-color;
  display: none;
  z-index: 1;

  .statistics_inner {
    padding: 1em;

    .statistics_title {
      margin: 0 0 1em 0;
    }
    .statistics_contents p {
      margin: .5em 0;
    }
  }
}
