/*------------------------------------
  Default Style
------------------------------------*/

/* グローバル変数 */
$header-height: 50px;
$tab-height: 50px;
$footer-height: 100px;
$main-min-width: 320px;
$genre-height: 50px;
$svg-size: 32px;
$border-bottom-weight: 2px;
$margin-side: 12px;
$list-border-radius: 50px;
$image-border-radius: 4px;
$item-border-radius: 4px;
$transition-duration: .5s;
$transition-in: transform 225ms cubic-bezier(0,0,.2,1),-webkit-transform 225ms cubic-bezier(0,0,.2,1);
$transition-out: transform 195ms cubic-bezier(.4,0,1,1), -webkit-transform 195ms cubic-bezier(.4,0,1,1);

$background-color: #181818;
$section-color: #212121;
$item-color: #383838;
$border-color: rgba(115, 115, 115, 0.2);
$border-active-color: #3f51b5;
$text-primary-color: #fff;
$text-secondary-color: #aaa;
$blocker-background-color: rgba(0, 0, 0, 0.6);

html {
  font-size: 62.5%;
  font-family: 'Roboto', 'Arial', sans-serif;
}
body {
  font-size: 1.6em;
  color: $text-primary-color;
  background: $background-color;
}
a {
  color: $text-primary-color;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input, button {
  border: none;
  outline: 0;
}
button, label {
  cursor: pointer;
}
img {
  vertical-align: bottom;
}
svg {
  width: $svg-size;
  height: $svg-size;
  vertical-align: middle;
  fill: $text-primary-color;
  stroke: $text-primary-color;
}
  
/*------------------------------------
  Header
------------------------------------*/
.header {
  width: 100%;
  position: fixed;
  border-bottom: solid 1px $border-color;
  display: block;
  transition: $transition-in;
  will-change: transform, animation;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 100;

  &.animation {
    transform: translateY(-100%);
    transition: $transition-out;
  }
  .header_wrap {
    height: $header-height;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    position: relative;
    background: $background-color;
  
    /* ロゴ */
    .logo {
      height: $header-height;
  
      .logo_text {
        line-height: $header-height;
        margin: 0;
        padding: 0 0.5em;
        font-size: 1.2em;
        font-family: 'Russo One', sans-serif;
        text-align: center;
      }
    }
  
    /* 検索 */
    .search {
  
      .search_form {
        width: 100%;
        display: flex;
        background: $background-color;
  
        .search_input {
          margin: 5px 0;
          font-size: 1.1em;
          padding: .3em .5em;
          border: solid $border-color $border-bottom-weight;
          color: $text-primary-color;
          background: transparent;
          -webkit-appearance: none;
          border-radius: $item-border-radius 0 0 $item-border-radius;
  
          &::placeholder {
            color: $text-secondary-color;
          }
          &:focus {
            border: solid $border-active-color $border-bottom-weight;
          }
        }

        .search_label {
          margin: (($header-height - $svg-size - 8px) / 2) 0;
          padding: 4px 16px;
          display: inline-block;
          background: $item-color;
          border: none;
          border-radius: 0 $item-border-radius $item-border-radius 0;
        }
      }
    }

    /* ユーザ */
    .user {

      .user_label {
        padding: (($header-height - $svg-size) / 2);
        display: inline-block;
        background: transparent;
        border: none;
      }
    }
  }
}

/*------------------------------------
  Footer
------------------------------------*/
.footer_wrap {
  height: $footer-height;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: $section-color;

  .footer_content {

    .footer_content_inner {

      .copyright {
        width: 100px;
        height: 20px;
        margin: auto;
        padding: (($footer-height - 20px) / 2) 0;
        font-size: .8em;
      }
    }
  }
}

/*------------------------------------
  Tab
------------------------------------*/
.tab {
  bottom: 0;
  width: 100%;
  position: fixed;
  border-top: solid 1px $border-color;
  transition: $transition-in;
  will-change: transform, animation;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 98;

  &.animation {
    transform: translateY(100%);
    transition: $transition-out;
  }
  .tab_wrap {
    height: $tab-height;
    background: $background-color;
    display: flex;

    input[name="tab_item"] {
      display: none;
      
      // &:checked + .tab_item {
      //   color: red;
      // }
    }
    .tab_item {
      width: calc(100% / 4); // タブ数
      text-align: center;
      display: block;
      transition: all 0.2s ease;

      // &:hover {
      //   opacity: 0.5;
      // }
      .tab_item_title {
        margin: 0;
        line-height: $tab-height;
        font-size: 1.1rem;
      }
    }
  }
}
