@import "common_pc.scss";

/* グローバル変数 */
$menu-width: 240px;
$nav-transition-duration: .3s;

/*------------------------------------
  Contents
------------------------------------*/
.contents {
  padding: $header-height 0;
  display: flex;
}

/*------------------------------------
  Menu
------------------------------------*/

/* header */
.logo {
  display: flex;

  .nav {
    $nav-height: 20px;
    $nav-width: 25px;
    $nav-weight: 2px;

    padding: calc((#{$header-height} - #{$nav-height}) / 2) 0.5em;

    /* ハンバーガーメニュー */
    .nav_button {
      width: $nav-width;
      height: $nav-height;
      position: relative;
      cursor: pointer;
      z-index: 1002;

      span {
        left: 0;
        width: 100%;
        height: $nav-weight;
        position: absolute;
        border-radius: 4px;
        background-color: $text-primary-color;
      
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: calc((#{$nav-height} - #{$nav-weight}) / 2);
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }
    }
    .nav_button, .nav_button span {
      display: inline-block;
      transition: all $nav-transition-duration;
      box-sizing: border-box;
    }
  }
}

/* menu */
.menu {
  width: $menu-width;
  flex-shrink: 0;
  transition: $nav-transition-duration;

  @include pc {
    width: 0;
  };

  &.hidden {
    width: 0;
  }
  .menu_wrap {
    width: 100%;
    height: 100%;
  
    .nav_input {
      display: none;
    
      &:checked ~ .nav_content {
        transform: translateX(0);
      }
      &:checked ~ .nav_blocker {
        display: block;
      }
    }

    /* ブロッカー */
    .nav_blocker {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      position: fixed;
      background: black;
      opacity: 0.8;
      display: none;
      z-index: 99;
    }

    /* ナビコンテンツ */
    .nav_content {
      top: $header-height;
      left: 0;
      width: $menu-width;
      height: 100%;
      position: fixed;
      background: $background-color;
      border-top: solid 1px $border-color;
      border-right: solid 5px $border-color;
      transition: all $nav-transition-duration;
      transform: translateX(-$menu-width);
      box-sizing: border-box;
      z-index: 1001;

      .nav_list {
        padding: 0;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
      
        .nav_list_item {
          .nav_list_item_link {
            width: calc(100% - 10px * 2);
            padding: 15px 10px;
          }
        }
      }
    }
  }
}

/*------------------------------------
  Main
------------------------------------*/
.main {
  width: 100%;
}
.main_wrap {
  min-width: $main-min-width;

  /* タイトル */
  .content_title,
  .section_title {
    width: 100%;
    font-size: 1.2em;
    display: inline-block;
  }

  /* コンテンツタイトル */
  .content_title {
    width: calc(100% - (#{$margin-side} * 2));
    padding: 0 $margin-side;
  }

  /* バナー */
  .banner_content {
    .banner_link {
      width: 100%;
      max-width: 800px;
      margin: 0 auto;
      display: block;

      .banner_image {
        width: 100%;
      }
    }
  }

  /* ジャンル */
  .genre_content {
  
    .genre_content_inner {
      padding: 1em 0;

      .genre_list_content {
        padding: $margin-side 0;

        .genre_list_content_inner {
          height: $genre-height;
          overflow: hidden;

          .genre_list {
            padding-bottom: $margin-side;
            display: flex;
            overflow-x: scroll;
    
            .genre_list_item {
              margin: 0 .3em;
              border-radius: $list-border-radius;
              position: relative;
              overflow: visible;
              background: $item-color;
  
              &:first-child {
                margin-left: $margin-side;
              }
              &:last-child::after {
                top: 0;
                width: $margin-side;
                height: 1px;
                position: absolute;
                content: '';
                background-color: transparent;
              }

              .genre_title {
                line-height: $genre-height;
                margin: 0;
                padding: 0 2em;
                font-size: 1em;
                display: inline-block;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }

  /* メインコンテンツ */
  .main_content {

    .main_content_inner {

      .main_content_section {

        .main_content_section_inner {
          margin: 0 $margin-side;
          padding: 1em 0;
          border-top: solid 1px $border-color;

          .main_content_section_content {
            display: grid;
            grid-template-columns: repeat(5, 1fr); // 横アイテム数
            gap: 16px;
            
            @include bk(1580px) {
              grid-template-columns: repeat(4, 1fr); // 横アイテム数
            };
            @include pc {
              grid-template-columns: repeat(3, 1fr); // 横アイテム数
            };
            @include tablet {
              grid-template-columns: repeat(2, 1fr); // 横アイテム数
            };
            @include mobile {
              grid-template-columns: repeat(1, 1fr); // 横アイテム数
            };
  
            .roomCard {

              .roomCard_inner {
                display: grid;
                /*grid-template-rows: 2fr 1fr;*/
  
                .roomCard_thumbnail {
  
                  .roomCard_thumbnail_link {
                    border-radius: $image-border-radius;
  
                    .roomCard_thumbnail_image {
                      width: 100%;
                      border-radius: $image-border-radius;
                    }
                  }
                }
                .roomCard_detail {
  
                  .roomCard_detail_link {
                    width: 100%;
                    height: calc(100% - 1em);
                    padding: .5em 0;
  
                    .roomCard_title {
                      width: 100%;
                      margin: 0;
                      font-size: 0.9em;
                      font-weight: normal;
                    }
                  }
                } 
              }
            }
          }
        }
      }
    }
  }
}
