@import "common_mobile.scss";

/*------------------------------------
  Main
------------------------------------*/
.main {
  padding: $header-height 0;
}
.main_wrap {
  min-width: $main-min-width;

  /* タイトル */
  .content_title,
  .section_title {
    width: 100%;
    font-size: 1.2em;
    display: inline-block;
  }

  /* コンテンツタイトル */
  .content_title {
    width: calc(100% - 24px);
    padding: 0 $margin-side;
  }

  /* バナー */
  .banner_content {
    .banner_image {
      width: 100%;
    }
  }

  /* ジャンル */
  .genre_content {

    .genre_content_inner {
      padding: 1em 0;

      .genre_list_content {
        padding: $margin-side 0;

        .genre_list_content_inner {
          height: $genre-height;
          overflow: hidden;
          
          .genre_list {
            padding-bottom: $margin-side;
            display: flex;
            overflow-x: auto;
    
            .genre_list_item {
              margin: 0 .3em;
              border-radius: $list-border-radius;
              position: relative;
              overflow: visible;
              background: $item-color;
  
              &:first-child {
                margin-left: $margin-side;
              }
              &:last-child::after {
                top: 0;
                width: $margin-side;
                height: 1px;
                position: absolute;
                content: '';
                background-color: transparent;
              }

              .genre_title {
                line-height: $genre-height;
                margin: 0;
                padding: 0 2em;
                font-size: 1em;
                display: inline-block;
                white-space: nowrap;
              }
            }
          }
        }
      }
    }
  }

  /* メインコンテンツ */
  .main_content {

    .main_content_inner {

      .main_content_section {

        .main_content_section_inner {
          margin: 0 $margin-side;
          padding: 1em 0;
          border-top: solid 1px $border-color;

          .main_content_section_content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;
  
            .roomCard {

              .roomCard_inner {
                display: grid;
                /*grid-template-rows: 2fr 1fr;*/
  
                .roomCard_thumbnail {
  
                  .roomCard_thumbnail_link {
                    border-radius: $image-border-radius;
  
                    .roomCard_thumbnail_image {
                      width: 100%;
                      border-radius: $image-border-radius;
                    }
                  }
                }
                .roomCard_detail {
  
                  .roomCard_detail_link {
                    width: 100%;
                    height: calc(100% - 1em);
                    padding: .5em 0;
  
                    .roomCard_title {
                      width: 100%;
                      margin: 0;
                      font-size: 0.9em;
                      font-weight: normal;
                    }
                  }
                } 
              }
            }
          }
        }
      }
    }
  }
}
